.contacts {
	min-height: 100vh;
	padding-top: 100px;
	vertical-align: middle;
}

.formOne {
	margin-bottom: 130px;
}

.formTwo {
	text-align: left;
}

.form-control {
	border-top: 0;
	border-right: 0;
	border-left: 0;
}

label {
	vertical-align: middle;
}

.firmCont {
	padding-left: 5px;
}

@media (max-width: 768px) {
	.contacts {
		min-height: 100%;
		padding-top: 30px;
		padding-bottom: 50px;
		vertical-align: middle;
	}
},

@media (max-width: 1024px) {
	.contacts {
		min-height: 100vh;
		padding-top: 100px;
		vertical-align: middle;
	}
}