.contacts {
	min-height: 100vh;
	padding-top: 100px;
	vertical-align: middle;
}

.formOne {
	margin-bottom: 130px;
}

.formTwo {
	text-align: left;
}

.btn-default,
.btn-default:hover {
	padding: 10px 50px;
}

.form-control {
	border-top: 0;
	border-right: 0;
	border-left: 0;
}

label {
	vertical-align: middle;
}

.firmCont {
	padding-left: 5px;
}