.contacts {
	min-height: 100vh;
}

.formOne,
.formTwo {
	margin-top: 250px;
	padding: 50px;
}

.formTwo {
	text-align: left;
}

.btn-default,
.btn-default:hover {
	padding: 10px 50px;
}

.form-control {
	border-top: 0;
	border-right: 0;
	border-left: 0;
}