/*Правила к описанию*/
.descript {
	padding-top: 80px;
	text-align: center;
	min-height: 100vh;
}

h1 {
	margin-top: 80px;
	margin-bottom: 50px;
}

p.lead {
	margin: 0;
}

/*Правило к основному контенту*/
.product-preview {
	padding: 50px 0;
}

iframe {
	margin-bottom: 10px;
}

#modelDescription {
	font-size: 35px;
	text-align: center;
	margin: 20px 0;
}

#viewerplayer {
	display: none;
}

#openModal {
	margin: 60px 0 20px;
}


.btn-default {
	background-color: #555;
	color: #fff;
	font-weight: bold;
}

@media (max-width: 768px) {
	#openModal {
		margin: 30px 0px 0px;
	}

	.descript {
		padding-top: 40px;
		text-align: center;
		min-height: 100%;
	}
}

@media (max-width: 1024px) {
	#openModal {
		margin: 30px 0px 50px;
	}

	.descript {
		padding-top: 40px;
		text-align: center;
		min-height: 100%;
	}
}

