.descript {
	margin-top: -20px;
	padding: 50px 0;
	background-color: #e8dfd1;
}

.product-preview {
	padding: 50px 0;
	background-color: #e9f0f2;
}

.model-review .btn-group-vertical,
.model-review .dropdown-menu {
	width: 100%;
}

iframe {
	margin-bottom: 10px;
}

footer {
	padding: 50px 0;
}

footer .copyright {
	text-align: center;
}
