.wrapper {
	background-image: url('../img/bgr.png');
	font-family: 'Montserrat Alternates', sans-serif;
}

/*Правила к навигационной строке*/
.navbar-inverse {
	border-radius: 0;
	font-size: 17px;
}

.navbar-brand {
	font-size: 20px;
}

#active{
	color: #000;
}

/*Правила к подвалу*/
footer {
	padding-top: 70px;
	padding-bottom:  100px;
}

footer .copyright {
	font-size: 17px;
	text-align: center;
}
